<!DOCTYPE html>
<html>

<%- include ./partials/header -%>

<body>
    <%- include ./partials/navigation -%>

    <div style='min-height:200px'>
        <div>
            <input type="range" min="50" max="300" value="150" id='banner-height'>
            <div>Banner height: <span id='banner-height-val'>150</span></div>
        </div>

        <div>
            <input type="range" min="50" max="150" value="70" id='title-height'>
            <div>Title height: <span id='title-height-val'>70</span></div>
        </div>

        <div>
            <input type="range" min="50" max="100" value="80" id='logo-height'>
            <div>Logo %: <span id='logo-height-val'>80</span></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <script>
            document.getElementById('banner-height').oninput = function() {
                $('#banner-height-val').html(this.value);
                $('.banner').css('height', this.value+"px");
            }
            document.getElementById('title-height').oninput = function() {
                $('#title-height-val').html(this.value);
                $('.site-title').css('font-size', this.value+"px");
            }
            document.getElementById('logo-height').oninput = function() {
                $('#logo-height-val').html(this.value);
                $('.side-spacer img').css('height', this.value+"%");
            }
        </script>
    </div>

    <div class="glide">
        <div class="glide__track" data-glide-el="track" style='margin:0;'>
            <ul class="glide__slides" style='margin:0;'>
                <% for(var i=1; i<=5; i++) {%>
                <li class="glide__slide">
                    <div class='slide'>
                        <div class='caption-container'>
                            <div class='caption'>
                                <%=
                                ['OPEN DOORS SERVES AND SUPPORTS STUDENTS FROM PRE-K THROUGH HIGH SCHOOL AND BEYOND',
                                'HELP GIVE THEM THE EQUAL OPPORTUNITIES THEY DESERVE…',
                                'BY SUPPORTING OUR ACADEMIC, ATHLETIC, AND PRE-PROFESSIONAL PROGRAMS',
                                'WE’RE GROWING TO HELP CHANGE THE LIVES OF MORE STUDENTS',
                                'WITH ENCOURAGING AND CARING LEADERSHIP, WE TEACH OUR STUDENTS THAT THEY CAN DO ANYTHING'
                                ][i-1]%>

                            </div>
                            <a class='learn-btn' href='/about'>Learn More</a>
                        </div>
                        <div class='photo-container'>
                            <img src="/img/slider-<%=i%>.jpg">
                        </div>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>


        <div class="glide__bullets" data-glide-el="controls[nav]">
            <% for(var i=1; i<=5; i++) {%>
                <button class="glide__bullet" data-glide-dir="=<%=i-1%>"></button>
                <%}%>
        </div>
    </div>

    <div style='display:flex; justify-content:center;' class='home'>
            <div style='display:flex; flex-direction: column' class='home'>
                <div class='title edu-enl-emp'>
                    <span class='educate'>Educate</span>
                    <span class='enlighten'>Enlighten</span>
                    <span class='empower'>Empower</span>
                </div>
                <div class='limit-width'>
                    <div class='home-content'>
                        <h2>The Open Doors Foundation is a non-profit that provides academic, athletic, and pre-professional enrichment programs that serve low-income students in the Caribbean and Fairfield County.</h2>
                        <div>
                            <p>
                                <a href='/'>
                                    <span class='emphasis'>The Problem:</span>
                                    Izzy hasn't written this content yet
                                </a>
                            </p>
                            <p>
                                <a href='/'>
                                    <span class='emphasis'>The Solution:</span>
                                    Get Izzy to write more content
                                </a>
                            </p>
                            <p>
                                <a href='/'>
                                    <span class='emphasis'>The Results:</span>
                                    Will be revealed when there is more content
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <%- include ./partials/footer -%>
</body>
<script src="glide/glide.min.js"></script>

<script>
    new Glide('.glide', {
        type: 'carousel',
        autoplay: 8000,
        hoverpause: false,
        swipeThreshold: false
    }).mount()
</script>

</html>